body{
    max-width: 1440px;
    margin: 0 auto;
}

/*Main Styling properties with their variables and css links */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root{
    --primarycolor:#f80275;
    --secondarycolor:white;
    --fontStyle:'Roboto';
    --btnColor:#7634BF;
}

/* Header Section */
header .header-section{
    height: 500px;
    padding: 6vw;
    background: url('../images/header-image.avif') no-repeat ,linear-gradient(to right,rgb(0, 0, 0),#771d51);
    background-position: right 20% bottom 45%;
    background-size: contain;
}

header .header-heading{
    margin-top: 30px;
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 6vw;
    color: var(--secondarycolor);
}
.header-subheading{
    color: var(--primarycolor);
}

.header-description{
    margin-top: 30px;
    color: var(--secondarycolor);
    font-family: var(--fontStyle);
}
.header-btn button{
    margin-top: 40px;
    padding: 15px 35px;
    background-color: var(--btnColor);
    border-radius: 30px;
    color: var(--secondarycolor);
    font-size: 1.5vw;
    font-weight: bold;
    font-family: var(--fontStyle);
    
}
.header-btn button:hover{
    background-color: #9f58f0c5;
}

/* Main */
/* section 01  */
/* Images section */
.section-1{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px 130px;
}
.img img{
    width: 100%;
    border-radius: 20px;
}
.section1-heading{
    font-size: 4vw;
    font-family: var(--fontStyle);
    font-weight: bold;
}
.section1-sub{
    color: var(--btnColor);
}
.section1-description{
    font-family: var(--fontStyle);
    margin-top: 20px;
    line-height: 1.5;
    font-size: 1.2vw;
}

/* Section02 */
.section2{
    background-color: #F3F5F6;
}



/* Footer */
footer{
   background-color: #000000;
   color: white;
}
.footer{
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot-heading{
    font-family: var(--fontStyle);
    margin-top: 20px;
    font-size: 1.5vw;
}
.footer-copyright{
    font-family: var(--fontStyle);
    margin-top: 15px;
    font-style: italic;
    font-size: 1.1vw;
}

.subscribe{
    font-family: var(--fontStyle);
    font-size: 2vw;
    font-weight: bold;
}
.email h4{
    font-family: var(--fontStyle);
    font-size: 1.3vw;
}
.email input{
    padding: 12px;
    width: 120%;
    border: hidden;
    outline: transparent;
    border-radius: 12px;
}
.footer-btn button{
    font-size: 1.1vw !important;
}

/* Responsive design for Tablet and Landscape mode device */
@media screen and (min-width:993px) and (max-width:1240px) {
    /* Header Section */
    .line-break::after{
        content: '\A';
        white-space: pre;
    }
    .header-description{
        line-height: 2.2;
    }
}
/* Responsive design for Tablet and Landscape mode device */
@media screen and (min-width:577px) and (max-width:992px) {
    /* Header Section */
    .line-break::after{
        content: '\A';
        white-space: pre;
    }
    .header-description{
        line-height: 2.2;
    }
     /* section 01:: */
    
}




/* Responsive Design for Mobile Devices */
@media screen and (max-width:576px) {

   /* Header Section */
   header .header-section{
        background: linear-gradient(to right,rgb(0, 0, 0),#771d51);
    }
    header .header-heading{
        text-align: center;
        margin-top: 30px;
        font-size: 12vw;  
    }
    .header-description{
        text-align: center;
        line-height: 2.2;
    }
    .header-btn{
        text-align: center;
    }
    .header-btn button{
        font-size: 4vw;
        letter-spacing: 2px;
    }

    .line-break::after{
        content: '\A';
        white-space: pre;
    }
    /* section 01:: */
    .section-1{
        flex-direction: column;
        gap: 20px;
        padding: 30px 60px;
    }
    .section1-heading{
        font-size: 6vw;
    }
    .section1-description{
        margin-top: 10px;
        line-height: 1.5;
        font-size: 3vw;
    }

    /* Section 02 */
    .section-2{
        flex-direction: column-reverse;
    }

    /* Section 03 */
.section-3{
    display: flex;
    flex-direction: column-reverse;
}

    /* Footer */
    .footer{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .foot-heading{
        margin-top: 10px;
        font-size: 4.5vw;
    }
    .footer-copyright{
        font-size: 2.5vw;
    }

    .footer-btn{
        margin-top: -4vw;
        margin-bottom: 5vw;
        text-align: left;
    }
    .footer-btn button{
        font-size: 2.3vw !important;
    }

    .email h4{
        font-size: 3.3vw;
    }
    .email input{
        width: 80%;
    }
    .subscribe{
        font-size: 5vw;
    }

}