body{
    max-width: 1440px;
    margin: 0 auto;
    border: 3px solid red;
}

/*Main Styling properties with their variables and css links */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root{
    --primarycolor:#f80275;
    --secondarycolor:white;
    --fontStyle:'Roboto';
    --btnColor:#7634BF;
}

/* Header Section */
header .header-section{
    height: 500px;
    padding: 6vw;
    background: url('../images/header-image.avif') no-repeat ,linear-gradient(to right,rgb(0, 0, 0),#771d51);
    background-position: right 20% bottom 45%;
    background-size: contain;
}

header .header-heading{
    margin-top: 30px;
    font-family: var(--fontStyle);
    font-weight: bold;
    font-size: 6vw;
    color: var(--secondarycolor);
}
.header-subheading{
    color: var(--primarycolor);
}

.header-description{
    margin-top: 30px;
    color: var(--secondarycolor);
    font-family: var(--fontStyle);
}
.header-btn button{
    margin-top: 40px;
    padding: 15px 35px;
    background-color: var(--btnColor);
    border-radius: 30px;
    color: var(--secondarycolor);
    font-size: 1.5vw;
    font-weight: bold;
    font-family: var(--fontStyle);
    
}
.header-btn button:hover{
    background-color: #9f58f0c5;
}

/* Main */
/* section 01  */
/* Images section */
.section-1{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}
.img img{
    width: 100%;
    border-radius: 20px;
}
.section1-heading{
    font-size: 4vw;
    font-family: var(--fontStyle);
    font-weight: bold;
}
.section1-sub{
    color: var(--btnColor);
}
.section1-description{
    font-family: var(--fontStyle);
    margin-top: 20px;
    line-height: 1.5;
    font-size: 1.2vw;
}

/* Responsive design for Tablet and Landscape mode device */
@media screen and (min-width:993px) and (max-width:1240px) {
    /* Header Section */
    .line-break::after{
        content: '\A';
        white-space: pre;
    }
    .header-description{
        line-height: 2.2;
    }
}
/* Responsive design for Tablet and Landscape mode device */
@media screen and (min-width:577px) and (max-width:992px) {
    /* Header Section */
    .line-break::after{
        content: '\A';
        white-space: pre;
    }
    .header-description{
        line-height: 2.2;
    }
}




/* Responsive Design for Mobile Devices */
@media screen and (max-width:576px) {

   /* Header Section */
   header .header-section{
        background: linear-gradient(to right,rgb(0, 0, 0),#771d51);
    }
    header .header-heading{
        text-align: center;
        margin-top: 30px;
        font-size: 12vw;  
    }
    .header-description{
        text-align: center;
        line-height: 2.2;
    }
    .header-btn{
        text-align: center;
    }
    .header-btn button{
        font-size: 4vw;
        letter-spacing: 2px;
    }

    .line-break::after{
        content: '\A';
        white-space: pre;
    }
    /* Next Part section */
}